<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="title">Tom & Jerry Puzzle</h1>
    
    <div>
        <canvas id="puzzleCanvas"></canvas>
    </div>

    <div id="puzzleControls" class="controls">
        <button id="shuffleButton" class="btn">Mezclar</button>
        <button id="solveButton" class="btn">Resolver</button>
    </div>

    <script src="{{ url_for('static', filename='puzzle.js') }}"></script>
</body>
</html>
